html,
body,
#root {
  background-color: white !important;
}

body {
  padding-top: 56px;
}

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

.content {
  background-color: white;
  flex: 1;
}

html.scrollbar,
body.scrollbar {
  --scrollbar-thumb-color: #006CD1;
  --scrollbar-track-color: transparent;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}

html.scrollbar::-webkit-scrollbar,
body.scrollbar::-webkit-scrollbar {
  width: 8px;
}

html.scrollbar::-webkit-scrollbar-track,
body.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

html.scrollbar::-webkit-scrollbar-thumb,
body.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 8px;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}
